{
  "presets": [
    "es2015",
    "stage-2",
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "add-module-exports",
    "transform-runtime",
    ["import-demand", [
      {
        "libName": "antd",
        "cssPath": "style/css",
        "spell": true
      },
      {
        "libName": "../../../src",
        "libPath": "components"
      }
    ]]
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    },
    "production": {
      "plugins": [
        [
          "babel-plugin-transform-require-ignore",
          {
            "extensions": [
              ".less"
            ]
          }
        ]
      ]
    }
  }
}